.game {
	width: 100vw;
	display: flex;
	align-items: center;

	background: #63686e;
}

.scoreBoard {
	font-size: 2rem;
	text-align: center;
}

.board {
	padding: 1rem;
	width: 100vw;

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	gap: 1rem;

	background: #393e46;
}

img {
	height: 8rem;

	object-position: center;
	object-fit: cover;

	background: ;
	border: 1px solid white;
}

.gameControl {
	height: 95vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	color: white;

	background: #63686e;
}

button {
	height: 3rem;
	width: 6rem;
	border-radius: 1rem;
	color: white;
	background-color: #282828;
}

@media only screen and (min-width: 601px) {
	.board {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (min-width: 1000px) {
	.board {
		grid-template-columns: repeat(12, 1fr);
	}
}
